* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para o menu de navegação */
.navbar {
    background-color: #1e1e1e;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff6347;
}

/* Hero Section */
header.hero {
    background: url('bg.png') no-repeat center center/cover;
    color: white;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
    
}

.cta-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #e55337;
}

/* Seções com diferentes fundos */
section {
    padding: 60px 0;
}

section:nth-of-type(odd) {
    background-color: #1e1e1e;
}

section:nth-of-type(even) {
    background-color: #333333;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

section p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.game-details, .benefits-list, .news-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-item, .benefit-item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px);
    text-align: center;
}

.news-list {
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.news-list li {
    margin: 10px 0;
}

/* Estilo para as Milestones */
.milestones table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.milestones th, .milestones td {
    border: 1px solid #444;
    padding: 12px;
    text-align: left;
    background-color: #222;
}

.milestones th {
    background-color: #333;
}

.milestones tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
}

.milestones tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

.download a{
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}

/* Contact Form */
.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-top: 10px;
}

.contact input, .contact textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.contact button {
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #e55337;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .game-item, .benefit-item {
        flex: 1 1 100%;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .navbar .container {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}
